.c-news {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* margin: 3rem auto; */
}

.c-news__holder {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-news__title {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 3rem auto;
}

.c-news__title-content {
  font-family: "DancingScript-Regular";
  font-family: "Tangerine-Regular";
  font-family: "ElMessiri-SemiBold";
  font-family: "EBGaramond-Regular";
  font-size: 3rem;
  text-align: center;
  line-height: 6rem;
  z-index: 1;
  position: relative;
  background-color: var(--Cloudy-White);
}

.c-news__title-content::before {
  border-top: 2px solid var(--Stone-Gray);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

.c-news__title-content span {
  background-color: var(--Cloudy-White);
  padding: 0 3rem;
}

.c-news__message {
  margin: 3rem auto;
  width: 100%;
  height: 100%;
}

.c-news__message-content {
  font-family: "DancingScript-SemiBold";
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
}
