@import url("./fonts/fonts.css");

@import url("./header/header.css");

@import url("./booking/booking.css");

@import url("./colors/colors.css");

h1 {
  font-family: "DancingScript-Bold";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
