@import url("./fonts/fonts.css");

@import url("./header/header.css");

@import url("./booking/booking.css");

@import url("./colors/colors.css");

@import url("./welcome/welcome.css");
@import url("./rooms/rooms.css");

@import url("./add-ons/flickity.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Temporary Styling */

.o-main {
  background-color: var(--Cloudy-White);
}
